<div class="jumbotron">
    <p>
        <input type="text" class="form-control" ng-model="search.selectedCity" data-animation="am-flip-x" ng-options="city as city.name for city in search.search($viewValue)" placeholder="Enter city" bs-typeahead>
    </p>

    <p ng-if="search.apiKey">
        <button class="btn btn-primary" ng-click="search.fetchCityWeather()">Get Weather</button>
    </p>
    <p ng-if="!search.apiKey">Please set the API Key</p>
</div>


<div class="row marketing" ng-show="search.weather.conditions">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <img ng-src="{{search.weather.conditions.icon_url}}">
            </td>
            <td>
                <h3>{{search.weather.conditions.display_location.full}}</h3>
            </td>
        </tr>
        <tr>
            <td>Temp F</td>
            <td>{{search.weather.conditions.temp_f}}</td>
        </tr>
        <tr>
            <td>Temp C</td>
            <td>{{search.weather.conditions.temp_c}}</td>
        </tr>
        </tbody>
    </table>
</div>


