<div class="jumbotron">
    <p>
        <input type="text" class="form-control" ng-model="search.selectedCity" data-animation="am-flip-x" ng-options="city as city.name for city in search.search($viewValue)" placeholder="Enter city" bs-typeahead>
    </p>
    <p ng-if="search.apiKey">
        <button class="btn btn-primary" ng-click="search.fetchCityWeather()">Get Weather</button>
    </p>
    <p ng-if="!search.apiKey">Please set the API Key</p>
</div>

<weather-results search-results="search.weather.conditions"></weather-results>

